<div class="p-grid">
    <p-panel header="Log" class="p-col-6 p-offset-3">
        <p-button label="update" (click)="update()"></p-button>
        
	    <p-table [columns]="activityColumns" [value]="activities" selectionMode="single" (onRowSelect)="onSelect($event)">
	        <ng-template pTemplate="header" let-columns>
		        <tr>
			        <th *ngFor="let col of columns">
			            {{col}}
			        </th>
		        </tr>
	        </ng-template>
	        <ng-template pTemplate="body" let-rowData let-columns="columns">
		        <tr [pSelectableRow]="rowData">
			        <td *ngFor="let col of columns">
			            {{rowData[col]}}
			        </td>
		        </tr>
	        </ng-template>
	   </p-table>
    </p-panel>
</div>
